<div id="loginbox">
    <h1>登录</h1>
    <hr>
    <div class="login">
        <div class="form-inline">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" id="name" placeholder="请输入用户名">
            </div>
            <br><br>
            <button type="button" class="btn btn-info btn-lg" id="loginbutton">登录</button>
        </div>
    </div>
</div>
{{>chat}}